*.csv
*.xlsx
*.xlsb
*.xlsm
*.code-workspace
*.pkl
scripts/requirements.txt
*.msg
*.xlsm
*.png
*.svg
*.pyc
scripts/.ipynb_checkpoints/scripts_catalog-checkpoint.ipynb
PowerBi
*.xls
.venv/
.vscode/
.~lock*